
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="PasswordStyle.css" rel="stylesheet" />

    <body>
        <div class="container py-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card border-secondary">
                                <div class="card-header">
                                    <h3 class="mb-0 my-2">Sign Up</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                            </div>
                                            <input type="email" name="txtEmail"  id="txtEmail" runat="server" CssClass="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                            </div>
                                            <input type="text" name="txtPassword" id="txtPassword" runat="server" TextMode="Password" CssClass="form-control"></input>
                                        </div>
                                        <div id="strengthMessage"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                            </div>
                                            <input type="text" ID="txtConfirmPassword" runat="server" TextMode="Password" CssClass="form-control"></input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button id="submit" disabled type="submit" class="btn btn-success float-right rounded-0">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

<script>
    $(document).ready(function () {

        $('#txtEmail').on('blur', function () {
            var email = $('#txtEmail').val();
            var result = isValidEmailAddress(email);

            if (!result) {
                $('#submit').prop('disabled', true);
                alert("Please enter a valid email address");
            }
        })


        $('#txtPassword').keyup(function () {

            $('#strengthMessage').html(checkStrength($('#txtPassword').val()))
            checkPasswords();
        })

        $('#txtConfirmPassword').keyup(function () {
            $('#strengthMessage').html(checkStrength($('#txtPassword').val()))
            checkPasswords();
        })

        function checkPasswords() {
            var firstPass = $('#txtPassword').val();
            var secondPass = $('#txtConfirmPassword').val();
            var email = $('#txtEmail').val();

            if (firstPass.length > 0 && firstPass == secondPass && isValidEmailAddress(email)) {
                $('#submit').prop('disabled', false);
            }
            else {
                $('#submit').prop('disabled', true);

            }
        }

        function checkStrength(password) {
            var strength = 0
            if (password.length < 6) {
                $('#strengthMessage').removeClass()
                $('#strengthMessage').addClass('Short')
                return 'Too short'

            }
            $('#submit').prop('disabled', false);
            if (password.length > 7) strength += 1
            // If password contains both lower and uppercase characters, increase strength value.
            if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
            // If it has numbers and characters, increase strength value.
            if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
            // If it has one special character, increase strength value.
            if (password.match(/([!,%,&,#,$,^,*,?,_,~])/)) strength += 1
            // If it has two special characters, increase strength value.
            if (password.match(/(.*[!,%,&,#,$,^,*,?,_,~].*[!,%,&,#,$,^,*,?,_,~])/)) strength += 1
            // Calculated strength value, we can return messages
            // If value is less than 2
            if (strength < 2) {
                $('#strengthMessage').removeClass()
                $('#strengthMessage').addClass('Weak')
                return 'Weak'
            } else if (strength == 2) {
                $('#strengthMessage').removeClass()
                $('#strengthMessage').addClass('Good')
                return 'Good'
            } else {
                $('#strengthMessage').removeClass()
                $('#strengthMessage').addClass('Strong')
                return 'Strong'
            }
        }
    });

    function isValidEmailAddress(emailAddress) {
        var pattern = /^[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$/;
    return pattern.test(emailAddress);
};


    $('#submit').on("click", function () {
        var email = $('#txtEmail').val();
        var password = $('#txtPassword').val();
        $.ajax({
            url: '@Url.Action("SubmitData", "User")',
            dataType: 'json',
            data: { txtEmail: email, txtPassword: password },
            success: function (resp) {
                alert(resp.message);
                 location.reload();
            }
        })
        
    })
</script>

